.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 80px); 
    width: calc(100vw - 120px); 
    padding: 50px 20px;
    box-sizing: border-box;
    margin-left: 130px;
     margin-top: 110px;
    font-family: "Roboto", sans-serif;

    &__graph {
        display: flex;
        width: 100%;
        max-width: 1200px;
        &__chart {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1;
        }
    }
    &__title {
        width: 100%;
        max-width: 1200px;
        h1 {
            margin-bottom: 20px;
    
        }
    }
    
    &__title__name {
        color: red;
    }

    &__dashboard {
        width: 100%;
        max-width: 1200px;
        margin-bottom: 20px;
    }

    &__etiquette {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;
        margin: 50px 20px 20px 20px;
    }
}

.container__responsive {
    width: 100%;
    margin-right: 20px;

    &__etiquetteResponsive {
        display: flex;
        justify-content: space-between;
    }
}